build/
dist/
.idea/
*.ini
*.egg-info
*.pyc
*.pyo
*.py#
*~
*.bak

#Ignore files with secret keys
config.ini

#Ignore Eclipse project files
.project
.settings/*
.pydevproject

#Ignore file with password for PyPy
.pypirc

